<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.practice">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RelativeLayoutActivity" />
        <activity android:name=".ToastDialog" />
        <activity android:name=".SpinnerDemo" />
        <activity android:name=".CustomAdapterDemo" />
        <activity android:name=".ActivityResultDemo" />
        <activity android:name=".ResultReturnActivity" />
        <activity android:name=".common.BroadCastReceiverDemo"></activity>


        <receiver android:name=".common.BroadCastReceiverDemo$PowerChangeReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"></action>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"></action>
            </intent-filter>
        </receiver>



    </application>

</manifest>